@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;  
    font-family: "Rubik";
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 100vw;
    padding: 0px 15px;
    margin: 0 auto;
    height: 80px;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.link-disabled, .link-disabled a{
  color: #000000!important;
  padding: 0px 8px;
  cursor: default;
  text-transform: uppercase;
  font-size: 20px;
}

.link-enabled, .link-enabled a {
    color: #38B6FF;
    padding: 0px 8px;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
    font-size: 20px;
}

.link-enabled:hover, .link-enabled a:hover {
    color: #000000;
}

.i-link-enabled {
    color: #38B6FF;

}

.i-link-disabled {
    color: #000000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 100vw;
    height: calc(100vh - 80px);
    padding: 0px 15px;
    margin: 0 auto;
}

.div-welcome {
    width: 550px;
    font-size: 18px;
}

footer {
    color: white;
    background-color: #1f1d1d;
    margin: 0 auto;
    height: 500px;
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    padding: 30px 30px;
}

.div-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-redes {
    display: flex;
    flex-direction: column;
}

.logo-footer {
    width: 150px;
}

