/* CSS reset */
*, *:before, *:after{ 
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
}
html {
    height: 100%;
    min-height: 100%;
}

body{
    margin:10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
/* content do form */
.content{
    width: 500px;
    margin: 0px auto;
    position: relative; 
    padding-top: 59px;
}

/* formatando o cabeçalho do form */
h1{
    font-size: 48px;
    color: #066a75;
    padding: 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
h1:after{
    content: ' ';
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
    background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}
p{
    margin-bottom:15px;
}
label{
    color: #405c60;
    position: relative;
}
/* placeholder */
::-webkit-input-placeholder  {
    color: #bebcbc; 
    font-style: italic;
}
input{
    outline: none;
    width: 95%;
    margin-top: 4px;
    padding: 10px;  
    border: 1px solid #b2b2b2;
    
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*estilo do botão submit */
#submit-button{
width: 100%!important;
cursor: pointer;  
background: #3d9db3;
padding: 8px 5px;
color: #fff;
font-size: 20px;  
border: 1px solid #fff; 
margin-bottom: 10px;  
text-shadow: 0 1px 1px #333;

-webkit-border-radius: 5px;
border-radius: 5px;

transition: all 0.2s linear;
}
#submit-button:hover{
background: #4ab3c6;
}

/* estilos para para o formulário */
#cadastro{
top: 0px;
width: 88%; 
padding: 18px 6% 60px 6%;
margin: 0 0 35px 0;
background: rgb(247, 247, 247);
border: 1px solid rgba(147, 184, 189,0.8);
}

header{
background-color: black;
color: #066a75;
align-items: center;
text-align: center;
width: auto;
height: 25px;
padding: 10px;
font-size: 18px;
position: relative;
top: -10px;
right: -10px;
left: -10px;
}
footer{
background-color: black;
text-align: right;
align-items: center;
color: #066a75;
width: auto;
height: 25px;
padding: 10px;
font-size: 14px;
position: relative;
bottom: -10px;
right: -10px;
left: -10px;
margin-top: auto;

}
.cabecalho{
text-align: center;
display: inline;
margin: 15px;
font-family: Arial, Helvetica, sans-serif;
align-items: center;
}
.pg_atual{
color: white;
}
a{
font-family: Arial, Helvetica, sans-serif;
color: #066a75;
text-decoration: none;

}
a:hover{
color: white;
}